.blog-container {
    display: flex;
    flex-direction: row; //ép con theo chiều dọc
    gap: 10px;
    flex-wrap: wrap;

    .singleBlog {
        text-align: left;
        border: 1px solid grey;
        border-radius: 5px;
        padding: 10px;
        margin: 0 10px;
        max-width: 400px;

        .title {
            padding: 10px 0;
            font-size: 20px;
            font-weight: 600;
            color: rgba(0, 0, 255, 0.534);
        }

        .content {
            padding: 10px 0;
        }
    }
}

.btn-add {
    margin: 10px 0;
    cursor: pointer;
}

.add-new-container {
    text-align: left;
    border: 1px solid gray;
    width: 400px;
    margin: 0 auto;
    padding: 10px;

    .text-add-new {
        margin: 10px 0;
        text-align: center;
    }

    .input-data {
        padding: 5px;
        margin: 5px;
        display: flex;
        flex-direction: column;
    }

    .btn {
        margin: 0 10px;
    }
}